<h4 style="color:red">Built-In Pipe </h4>
<h5 style="color:blueviolet">Original Text:{{TextDemo}}</h5>
<h5>Lower Case:{{TextDemo | lowercase}}</h5>
<h5>Upper Case:{{TextDemo | uppercase}}</h5>
<h5>Title case:{{TextDemo | titlecase}}</h5><br>

<h5 style="color:blueviolet">TrainingFees Original:{{Trainingfees}}</h5>
<h5>TrainingFees in Rupees:{{Trainingfees | currency:'INR'}}</h5>
<h5>TrainingFees in Dollar:{{Trainingfees | currency:'USD'}}</h5>
<h5>TrainingFees in Euro:{{Trainingfees | currency:'EUR'}}</h5><br>

<h5 style="color:blueviolet">Date:{{TodayDate}}</h5>
<h5>Date Format(dd-MM-yyyy): {{TodayDate | date:'dd-MM-yyyy'}}</h5>
<h5>Date Format(dd-MMM-yyyy): {{TodayDate | date:'dd-MMM-yyyy'}}</h5>